# PORT=5000
# MONGODB_URI=mongodb://127.0.0.1:27017/cogniscan

PORT=5000
MONGODB_URI=mongodb://mayankkamble24_db_user:eIQXCixu24JHEqnc@ac-cbxcjux-shard-00-00.gqidmik.mongodb.net:27017,ac-cbxcjux-shard-00-01.gqidmik.mongodb.net:27017,ac-cbxcjux-shard-00-02.gqidmik.mongodb.net:27017/cogniscan?replicaSet=atlas-3wjwnr-shard-0&ssl=true&authSource=admin
